$color6: #ffccd0;

.root {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    section {
        max-width: 1300px;
        padding: 0 1rem;
        & > div {
            width: 100%;
            display: grid;
            grid-template-columns: 2.2fr 1fr;
            gap: 6rem;
            margin: 3.5rem 0;
            .content {
                display: flex;
                flex-direction: column;
                h1 {
                    font-size: var(--font-size-xl);
                    span {
                        text-transform: lowercase;
                        position: relative;
                        &::after {
                            content: " ";
                            display: block;
                            position: absolute;
                            bottom: 0px;
                            right: 0;
                            width: 100%;
                            border-top: 3px solid #0f6441;
                            border-radius: 100%;
                            transform: rotate(-2deg);
                        }
                    }
                }
                & > div .description {
                    margin-top: 5rem;
                    font-size: var(--font-size-base);
                    line-height: 1.85;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    font-weight: 300;
                    span {
                        font-family: 'Crimson Text', serif;
                        margin-right: 0.75rem;
                        font-size: calc(var(--font-size-xxl) * 1.1);
                        font-weight: bold;
                        line-height: 0;
                        font-style: italic;
                        position: relative;
                    }
                }
                .back {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.8rem;
                    cursor: pointer;
                    margin: 1.5rem 0 2rem 0;
                    font-size: var(--font-size-base);
                    font-weight: bold;
                    & > div {
                        background-color: #0f6441;
                        border-radius: 100% 100%;
                        padding: 0.3rem 0.7rem 0.15rem 0.6rem;
                        svg {
                            height: 1.3rem;
                            transform: rotate(90deg);
                            path {
                                fill: white;
                            }
                        }
                    }
                    & > span {
                        text-decoration: underline;
                    }
                }
                .notification {
                    padding: 0.35rem;
                    position: relative;
                    border: 3px solid black;
                    background-color: #a7e8c8;
                    box-shadow: 2px 3px 0 black;
                    z-index: 1;
                    display: grid;
                    place-items: center;
                    margin: 2rem 0;
                    p {
                        margin: 0;
                        margin-top: 0.9rem;
                        margin-left: 1rem;
                        font-size: calc(var(--font-size-sm) * 1.2);
                        font-weight: 500;
                    }
                    &::before {
                        content: "";
                        border: 3px solid black;
                        width: 100%;
                        position: absolute;
                        bottom: -12px;
                        right: -12px;
                        height: 100%;
                        z-index: -1;
                        background-color: white;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .root {
        section {
            & > div {
                grid-template-columns: 1fr;
            }
        }
    }
    
}