.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .container {
        width: 100%;
        max-width: 850px;
        margin: 3rem 0;
        h1 {
            margin: 0;
            margin-bottom: 3rem;
            font-size: var(--font-size-xl);
            text-align: center;
        }
       
        .ingredientWrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
            gap: 1.5rem 5rem;
            margin-top: 2rem;
            & > a {
                padding: 1rem 0 1rem 0.5rem;
                font-size: var(--font-size-base);
                &:hover {
                    background-color: #C9F9FF;
                }
            }
        }
    }
}