$color5: #B8B3BE;
$color1: #5DFDCB;
$color2: #90D7FF;
$color3: #C9F9FF;
$color6: #ffccd0;

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("/img/n005.jpg");
        background-size: cover;
        opacity: 0.09;
    }
    & > * {
        position: relative;
    }
    .inputContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: bold;
            font-size: 2.5rem;
            .highlightSuccess {
                display: inline-block;
                background-color: $color1;
                transform: skew(-15deg);
            }
            .highlightError {
                display: inline-block;
                background-color: $color6;
                transform: skew(8deg);
            }
        }
        .searchInput {
            width: 85%;
            padding: 0.7rem .5rem;
            outline: 0;
            border: 2px solid $color1;
            border-radius: 0.2rem;
            font-size: 1.1rem;
            background-color: white;
            color: black;
            text-align: center;
        }
        .suggestions {
            text-transform: lowercase;
            border: 1px solid rgb(173, 173, 173);
            box-shadow: 3px 3px 0 rgb(173, 173, 173);
            width: 85%;
            & > a {
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                border-bottom: 1px solid lightgray;
                background-color: white;
                &:hover {
                    background-color: $color3;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .inputContainer {
        h1 {
            font-size: 1.7rem;
        }
    }
}