$header-background: #C9F9FF;
$header-muted: gray;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-background;
    padding: 1.2rem 3rem;

    .menuContainer {
        display: flex;
        gap: 1rem;
    }

    .separator {
        width: 1px;
        height: 30px;
        margin: auto 0;
        background-color: black;
    }

    .menuLogo {
        display: flex;
        gap: 2rem;
        svg {
            height: 3rem;
        }
        & > a:first-child div {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        a {
            align-self: center;
        }
    }

    .muted {
        font-size: 0.7rem;
        color: $header-muted;
        border-radius: 100%;
    }
}