$color1: #5DFDCB;
$color1-2: #bbffe9;
$color2: #90D7FF;
$color3: #C9F9FF;
$color4: #BFD0E0;
$color5: #B8B3BE;
$color6: #ffccd0;

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    margin-bottom: 5rem;
    .heroTitle {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
    }
    .muted {
        font-size: 1.25rem;
        padding: 0 2rem;
        color: rgb(63, 63, 63);
        text-align: center;
    }
}

.heroGrid {
    margin-bottom: 5rem;
    h1 {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    & > div {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
        span {
            font-size: 1.3rem;
            font-weight: bold;
        }
        p {
            color: rgb(63, 63, 63);
            font-size: 1.05rem;
        }
        img {
            width: 100%;
            // height: 20rem;
        }
    }
}