$color6: #ffccd0;

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("/img/n005.jpg");
        background-size: cover;
        opacity: 0.08;
    }
    & > * {
        position: relative;
    }
    h1 {
        font-size: 2.5rem;
    }
    .descrContainer {
        width: 65%;
        // padding: 0.3rem 2rem;
        // background-color: $color6;
        border-radius: 30px;
        font-size: 1.1rem;
        line-height: 2rem;
        word-spacing: 0.2rem;
    }
}