.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.root section {
  max-width: 1300px;
  padding: 0 1rem;
}

.root section > div {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.2fr 1fr;
      grid-template-columns: 2.2fr 1fr;
  gap: 6rem;
  margin: 3.5rem 0;
}

.root section > div .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root section > div .content h1 {
  font-size: var(--font-size-xl);
}

.root section > div .content h1 span {
  text-transform: lowercase;
  position: relative;
}

.root section > div .content h1 span::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  border-top: 3px solid #0f6441;
  border-radius: 100%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.root section > div .content > div .description {
  margin-top: 5rem;
  font-size: var(--font-size-base);
  line-height: 1.85;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 300;
}

.root section > div .content > div .description span {
  font-family: 'Crimson Text', serif;
  margin-right: 0.75rem;
  font-size: calc(var(--font-size-xxl) * 1.1);
  font-weight: bold;
  line-height: 0;
  font-style: italic;
  position: relative;
}

.root section > div .content .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.8rem;
  cursor: pointer;
  margin: 1.5rem 0 2rem 0;
  font-size: var(--font-size-base);
  font-weight: bold;
}

.root section > div .content .back > div {
  background-color: #0f6441;
  border-radius: 100% 100%;
  padding: 0.3rem 0.7rem 0.15rem 0.6rem;
}

.root section > div .content .back > div svg {
  height: 1.3rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.root section > div .content .back > div svg path {
  fill: white;
}

.root section > div .content .back > span {
  text-decoration: underline;
}

.root section > div .content .notification {
  padding: 0.35rem;
  position: relative;
  border: 3px solid black;
  background-color: #a7e8c8;
  -webkit-box-shadow: 2px 3px 0 black;
          box-shadow: 2px 3px 0 black;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 2rem 0;
}

.root section > div .content .notification p {
  margin: 0;
  margin-top: 0.9rem;
  margin-left: 1rem;
  font-size: calc(var(--font-size-sm) * 1.2);
  font-weight: 500;
}

.root section > div .content .notification::before {
  content: "";
  border: 3px solid black;
  width: 100%;
  position: absolute;
  bottom: -12px;
  right: -12px;
  height: 100%;
  z-index: -1;
  background-color: white;
}

@media (max-width: 768px) {
  .root section > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
