.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.root .container {
  width: 100%;
  max-width: 850px;
  margin: 3rem 0;
}

.root .container h1 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: var(--font-size-xl);
  text-align: center;
}

.root .container .ingredientWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem 5rem;
  margin-top: 2rem;
}

.root .container .ingredientWrapper > a {
  padding: 1rem 0 1rem 0.5rem;
  font-size: var(--font-size-base);
}

.root .container .ingredientWrapper > a:hover {
  background-color: #C9F9FF;
}
