/* .mainContainer {
    position: relative;
    padding: 0 28%;
}

@media (max-width: 1280px) {
    .mainContainer {
        padding: 0 20%;
    }
}

@media (max-width: 992px) {
    .mainContainer {
        padding: 0 10%;
    }
}

@media (max-width: 768px) {
    .mainContainer {
        padding: 0 5%;
    }
} */
