html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainContainer {
  position: relative;
  padding: 0 28%;
}

@media (max-width: 1280px) {
  .mainContainer {
    padding: 0 20%;
  }
}

@media (max-width: 992px) {
  .mainContainer {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0 5%;
  }
}

.background-error {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 131, 109, 0.35)), to(rgba(207, 0, 0, 0.25))), url("/img/n005.jpg");
  background: linear-gradient(rgba(255, 131, 109, 0.35), rgba(207, 0, 0, 0.25)), url("/img/n005.jpg");
}

.background-success {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(147, 255, 120, 0.35)), to(rgba(91, 255, 91, 0.25))), url("/img/n005.jpg");
  background: linear-gradient(rgba(147, 255, 120, 0.35), rgba(91, 255, 91, 0.25)), url("/img/n005.jpg");
}

button,
.button {
  display: block;
  background-color: #5DFDCB;
}

.CTA {
  margin: 1rem 0;
  padding: 1rem 4.5rem 1rem 2.5rem;
  background: #5DFDCB;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.CTA > .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.CTA:hover .icon {
  width: calc(100% - 0.6em);
}

.CTA > .icon svg {
  width: 3rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: black;
}

.CTA:hover .icon svg {
  -webkit-transform: translateX(0.1em);
          transform: translateX(0.1em);
}

.CTA:active .icon {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
