.CTA {
  margin: 1rem 0;
  padding: 1rem 4.5rem 1rem 2.5rem;
  background: #5DFDCB;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.CTA > .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.CTA:hover .icon {
  width: calc(100% - 0.6em);
}

.CTA > .icon svg {
  width: 3rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: black;
}

.CTA:hover .icon svg {
  -webkit-transform: translateX(0.1em);
          transform: translateX(0.1em);
}

.CTA:active .icon {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
