.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C9F9FF;
  padding: 1.2rem 1.5rem;
}

.header .menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.header .separator {
  width: 1px;
  height: 30px;
  margin: auto 0;
  background-color: black;
}

.header .menuLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.header .menuLogo svg {
  height: 3rem;
}

.header .menuLogo > a:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .menuLogo a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .muted {
  font-size: 0.7rem;
  color: gray;
  border-radius: 100%;
}

@media (max-width: 992px) {
  .header .menuLogo .separator, .header .menuLogo > a:nth-child(3) {
    display: none;
  }
  .header .menuContainer {
    display: none;
  }
}
