.root {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 100%;
}

.root input {
  width: 100%;
  padding: 0.7rem .5rem;
  outline: 0;
  border: 2px solid #5DFDCB;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  background-color: white;
  color: black;
  text-align: center;
}

.root .suggestions {
  text-transform: lowercase;
  border: 1px solid #adadad;
  -webkit-box-shadow: 3px 3px 0 #adadad;
          box-shadow: 3px 3px 0 #adadad;
  width: 85%;
  z-index: 1;
}

.root .suggestions > a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.root .suggestions > a:hover {
  background-color: #C9F9FF;
}
