.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.root section {
  max-width: 1300px;
}

.root section > div {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.2fr;
      grid-template-columns: 1fr 2.2fr;
  gap: 6rem;
  margin: 3.5rem 0;
}

.root section > div .sidebar {
  font-size: var(--font-size-base);
}

.root section > div .sidebar .notification {
  padding: 1rem 1.2rem;
  background-color: #0096aa;
  border-radius: 1rem;
}

.root section > div .sidebar .suggestions {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root section > div .sidebar .suggestions > span {
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

.root section > div .sidebar .suggestions > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.root section > div .sidebar .suggestions > div span {
  text-align: center;
}

.root section > div .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root section > div .content h1 {
  font-size: var(--font-size-xl);
}

.root section > div .content h1 span {
  text-transform: lowercase;
  position: relative;
}

.root section > div .content h1 span::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  border-top: 3px solid #0f6441;
  border-radius: 100%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.root section > div .content > div .description {
  margin-top: 5rem;
  font-size: var(--font-size-base);
  line-height: 1.85;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 300;
}

.root section > div .content > div .description span {
  font-family: 'Crimson Text', serif;
  margin-right: 0.75rem;
  font-size: calc(var(--font-size-xxl) * 1.1);
  font-weight: bold;
  line-height: 0;
  font-style: italic;
  position: relative;
  /* &::after {
                            content: " ";
                            position: absolute;
                            bottom: 12px;
                            left: 0;
                            width: 80%;
                            border-top: 5px solid rgb(206, 0, 0);
                        } */
}

/* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .background {
        width: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: cover;
        opacity: 0.15;
    }
    & > * {
        position: relative;
        z-index: 9;
    }
    
    h1 {
        font-size: 2.5rem;
        .headingVariable {
            text-transform: lowercase;
        }
    }

    & > img {
        height: 9rem;
        filter: drop-shadow(10px 5px 5px gray);
    }

    .descrContainer {
        width: 100%;
        padding: 0.3rem 2rem;
        margin: 2rem 0;
        border-radius: 0.4rem;
        font-size: 1.1rem;
        line-height: 2rem;
        word-spacing: 0.2rem;
        box-shadow: 0 0 10px gray;
        background-color: white;
        text-align: justify;
        &.red {
            background-color: red;
        }
        &.green {
            background-color: green;
        }
        span {
            white-space: pre-wrap;
        }
    }

    .suggestions {
        margin: 5rem 0;
        box-shadow: 0 0 10px gray;
        background-color: white;
        padding: 0.3rem 0.5rem 2rem 0.5rem;
        border-radius: 0.4rem;
        p {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
        & > div {
            display: flex;
            gap: 2rem;
            text-align: center;
        }
    }
} */
