@import "../../colors";

.button {
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    border-radius: 0.35rem;
    font-weight: bold;
    letter-spacing: -.35px;
    background-color: rgb(167, 232, 200);
    border: none;
    outline: none;
    color: #000000;
    font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: box-shadow 0.3s, transform 0.15s;

    &:hover {
        transform: scale(0.97);
    }

    &.dark {
        background-color: $secondary;
        color: #000000;
    }
}

@mixin root {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.35rem;
    font-weight: bold;
    letter-spacing: -.35px;
    background-color: rgb(167, 232, 200);
    border: none;
    outline: none;
    color: #000000;
    font-size: clamp(1.15rem, 0.30vw + 1.30rem, 1.4rem);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: box-shadow 0.3s, transform 0.15s;

    &:hover {
        transform: scale(0.97);
    }

    &.dark {
        background-color: $secondary;
        color: #000000;
    }
}