.root {
    max-width: 1280px;
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    // padding: 0 1rem;
}

.large {
    max-width: 1350px;
}

.small {
    max-width: 980px;
}

.fullscreen {
    max-width: unset;
    padding: 0;
}