@import "../colors.scss";

.root {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: clamp(6rem, 12vw, 12rem) clamp(1rem, 12vw, 12rem);
    background-color: $dark;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        flex: 0 1 750px;
        z-index: 1;
        :not(button) {
            color: #ffffff;
        }

        &>div {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }

    .img {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 45vw;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media (max-width: 768px) {
    .root {
        &>div {
            svg {
                margin-top: 2rem;
            }
        }
    }
}