.root {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0 10rem 0;

    .content {
        width: 100%;
        max-width: 1110px;
        display: flex;
        flex-direction: column;
        gap: 10rem;

        .item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
            width: 100%;

            .image {
                flex: 1 1 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                transition: all 1s;

                img {
                    width: 100%;
                    height: auto;
                    max-height: 24rem;
                    max-width: 27rem;
                    object-fit: cover;
                    border-top-left-radius: 10%;
                    border-top-right-radius: 10%;
                    border-bottom-left-radius: 100%;
                    border-bottom-right-radius: 100%;
                    opacity: 0.5;
                    transition: opacity 0.25s;
                    z-index: 1;
                    animation: bubble 11s infinite;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .text {
                flex: 0 1 550px;
                display: flex;
                flex-direction: column;

                p:first-child {
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: 1rem;
                }
                p {
                    margin: 1rem 0;
                }
            }
        }
    }
}


@keyframes bubble {

    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    20% {
        border-radius: 16% 84% 24% 76% / 84% 30% 70% 16%;
    }

    40% {
        border-radius: 9% 91% 64% 36% / 91% 13% 87% 9%;
    }

    60% {
        border-radius: 56% 44% 64% 36% / 12% 50% 50% 88%;
    }

    80% {
        border-radius: 30% 70% 24% 76% / 63% 30% 70% 37%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}
