.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5.5rem 0;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin: 3rem 0;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2rem;
            gap: 2rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

            .title {
                display: flex;
                justify-content: center;
                gap: 2rem;

                p {
                    font-weight: bold;
                }
            }

            .items {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1.5rem;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .root {
        &>div {
            grid-template-columns: 1fr;
        }
    }
}