@use "../components/content/button.module" as btn;
@use "../components/content/anchor.module.scss" as anchor;

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem 8rem 1rem;

    .header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1150px;
        gap: 2.5rem;
        margin-bottom: 3rem;

        .titleWrapper {
            flex: 1 1 500px;
            display: flex;
            flex-direction: column;
            color: #000000;

            span.title,
            h1.title {
                font-size: clamp(2.5rem, 1.15vw + 1.98rem, 3.5rem);
                margin: 0;
                font-weight: bold;
                line-height: unset;
            }

            &>div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0.75rem;

                img {
                    width: 100%;
                    max-width: 2rem;
                    height: auto;
                }
            }
        }

        & > img {
            width: 100%;
            max-width: 20rem;
            height: auto;
            border-radius: 1.75rem;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            align-self: flex-start;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 850px;
        margin-top: 5rem;

        &>div {
            width: 100%;

            p,
            ul li,
            ol li,
            p a {
                color: #292929;
                margin: 2.25rem 0;

                strong {
                    color: #000000;
                }
            }

            ul,
            ol {
                padding-left: 3rem;

                li {
                    margin: 2.25rem 0;
                }
            }

            h2 {
                font-size: clamp(1.76rem, 0.64vw + 1.6rem, 2.11rem);
                margin: 0;
                margin: 2.5rem 0;
            }

            h3 {
                font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
                line-height: 1.05;
                margin: 2rem 0;
            }

            p a {
                color: rgb(0, 165, 82);
                font-weight: bold;
                @include anchor.root;
            }

            img {
                width: 100%;
                height: auto;
                max-width: 40rem;
                margin: 1rem auto;
            }
        }


    }
}

.root :global {
    .wp-block-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;

        .wp-block-button {
            @include btn.root;
        }
    }

    .wp-block-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem 0;

        img {
            border-radius: 0.35rem;
        }
    }
}