@import "../colors.scss";

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        & > * {
            position: relative;
        }
        .inputContainer {
            width: 100%;
            max-width: 768px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.5rem;
            h1 {
                font-weight: bold;
                letter-spacing: -1px;
                font-size: 2.7rem;
            }

            & > div {
                margin-top: 1.5rem;
            }

        }
        .infoContainer {
            margin: 12rem 0;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            p {
                margin: 1.2rem 0;
                line-height: 1.8rem;
            }
            .howTo {
                align-self: center;
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
                span {
                    font-size: 1.8rem;
                    font-weight: bold;
                }
                ol {
                    list-style: none;
                    margin: 0 auto;
                    padding: 0;
                    counter-reset: item;
                    li {
                        margin: 1rem 0;
                        counter-increment:item;
                        &:before {
                            margin-right: 0.5rem;
                            margin-top: 0.5rem;
                            content: counter(item);
                            background: $primary;
                            border-radius: 100%;
                            color:black;
                            width: 2rem;
                            text-align: center;
                            display: inline-block;
                            font-size: 1.2rem;
                            font-weight:700
                        }
                    }
                }
            }
            .content {
                ul {
                    margin: 0;
                    padding: 1.5rem;
                    list-style: none;
                    background-color: #ffffff;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    li {
                        &:before{
                            content: "»";
                            font-size: 2rem;
                            color: $primary;
                            margin: 10rem 1rem 0 1rem;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .inputContainer {
        h1 {
            font-size: 1.7rem;
        }
    }
}